html,body{
    margin:0;
    padding:0;
    background: #FFFFFF;
}

body{
    min-width:800px;
}

.loading{
    position: absolute;
    top:50%;
    left:50%;
    z-index:9999;

    width:45px;
    height:45px;

    line-height:45px;
    padding-left:45px;
    font-size:15px;

    color:#fff;

    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);

    opacity: 0.7;
}

.bg{
    background: #7CCD7C;
    border-radius: 20px
}

#wrap{
    background: #ffffff;
    margin: 0 auto;
    width: 900px;
}

#header{
    height: 70px;
    padding: 10px;
}

.input-group.date p{
    font-size: 20px;
    margin-top: 15px;
    height: 30px;
}

#china-map {
    width: 800px;
    height: 500px;
    margin: auto;
}

.type-title{
    font-size: 25px;
}

.count-content{
    font-size: 20px;
}

.count-change{
    font-size: 15px;
}

#definite-count-content{
    font-size: large;
    color: rgb(253, 107, 92);
}

#definite-count-change{
    color: rgb(253, 107, 92);
}

#suspected-count-content{
    font-size: large;
    color: rgb(234, 146, 45);
}

#suspected-count-change{
    color: rgb(234, 146, 45);
}

#severe-count-content{
    font-size: large;
    color: rgb(73, 110, 158);
}

#severe-count-change{
    color: rgb(73, 110, 158);
}

#sum-definite-count-content{
    font-size: large;
    color: rgb(230, 52, 57);
}

#sum-definite-count-change{
    color: rgb(230, 52, 57);
}

#sum-cure-count-content{
    font-size: large;
    color: rgb(34, 174, 180);
}

#sum-cure-count-change{
    color: rgb(34, 174, 180);
}

#sum-dead-count-content{
    font-size: large;
    color: rgb(122, 124, 128);
}

#sum-dead-count-change{
    color: rgb(122, 124, 128);
}

.table{
    margin: 0;
    padding: 0;
}

.table tr td{
    text-align: center;
}

.nav.nav-pills{
    display:table;

    margin:0px auto;
    text-align: center;
}

.nav.nav-pills:active{
    display:table;

    margin:0px auto;
    text-align: center;

    color: #19CAAD;
}

#definite-li{
    width: 300px;
}

#sum-definite-li{
    width: 300px;
}

#chart-line{
    width: 800px;
    height: 400px;
    margin: auto;
}

#echart-change-button li{
    *float:none;
    *display:inline;

    width: 250px;
    float:left;

    *zoom:1;
    margin-right:10px;
}

#whole{
    margin: 20px 0 0 10px;
    color: cornflowerblue;
    background: none;
    transform:rotate(-30deg);
}


#footer{
    text-align: center;
}

#province-definite-count-content{
    font-size: large;
    color: rgb(253, 107, 92);
}

#province-definite-count-change{
    color: rgb(253, 107, 92);
}

#province-suspected-count-content{
    font-size: large;
    color: rgb(234, 146, 45);
}

#province-suspected-count-change{
    color: rgb(234, 146, 45);
}

#province-cure-count-content{
    font-size: large;
    color: rgb(34, 174, 180);
}

#province-care-count-change{
    color: rgb(34, 174, 180);
}

#province-dead-count-content{
    font-size: large;
    color: rgb(122, 124, 128);
}

#province-dead-count-change{
    color: rgb(122, 124, 128);
}